/Mis programas/APP 1/JavaApplication1/nbproject/private/
/Mis programas/APP 1/JavaApplication1/build/
/Mis programas/Errores4/JavaApplication2/nbproject/private/
/Mis programas/Errores4/JavaApplication2/build/
/Mis programas/Suma/nbproject/private/
/Mis programas/Suma/build/
/Mis programas/nombre/nbproject/private/
/Mis programas/nombre/build/
/Mis programas/Frase/nbproject/private/
/Mis programas/Frase/build/
/Mis programas/Temperatura/nbproject/private/
/Mis programas/Matematica/nbproject/private/
/Mis programas/Matematica/build/